
APP_PORT=8000
APP_SECRET=ChangeMe!
FRONTEND_URL=http://localhost:3000


POSTGRES_USER=nest_websocket_user
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_DB=nest_websocket
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://nest_websocket_user:ChangeMe!@db:5432/nest_websocket